<% provide(:title, "Log in") %>

<%= form_for(:session, url: login_path) do |f| %>
  <h1>Log in</h1>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Log in", class: "btn btn-primary" %>
<% end %>
